:root {
  --bs-light-primary: #eaccf6;
}

p,
div.card,
li,
.btn {
  font-size: 1.2rem;
}

.video {
  max-height: 75vh;
}

@media (min-width: 2000px) {
  body {
    font-size: 1.4rem;
  }

  p,
  div.card,
  li,
  .btn {
    font-size: 1.8rem;
  }
}

@media (min-width: 800px) {
  #program .list-group {
    max-width: 60%;
    margin: auto;
  }
}

.title-background {
  background-image: url(./../assets/img/chalkboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sortable-card {
  background-color: var(--bs-light-primary);
}

.custom-img {
  max-height: 65vh;
  width: auto;
  height: auto;
  max-width: 80%;
}

.custom-subtitle {
  color: black;
  display: inline-block;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
  margin-top: 30px;
}

h3.custom-subtitle {
  margin-top: 50px;
}

.bullet-container {
  text-align: center; /* Zentriert den Text */
}

.bullet-container > ul,
.bullet-container > ol {
  display: inline-block; /* Hält die Liste zentriert */
  text-align: left; /* Sorgt dafür, dass die Bulletpoints ausgerichtet bleiben */
  list-style-position: inside; /* Optional: Falls die Bulletpoints weiter innen sein sollen */
}
